/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  transition: 0.4s;

  &:hover {
    color: #dec129;
  }
}

form {
  width: 450px;
  margin: 1rem auto 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
  }

  input,
  textarea {
    padding: 0.6rem;
    color: #777;
    font-size: 0.8rem;
  }

  input[type="file"] {
    padding: 0;
  }
}

input {
  &[type="submit"] {
    background-color: #efefef;
    border: 2px solid transparent;
    padding: 0.6rem 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: transparent;
      color: #dec128;
      border-color: #dec128;
    }
  }
}

.validation-error {
  p {
    color: #dc3545;
    margin-top: 0.4rem;
    border-left: 3px solid #dc3545;
    padding-left: 0.2rem;
  }
}

.edit-btn,
.remove-btn {
  border: 1px solid #efefef;
  padding: 0.4rem 1rem;

  font-size: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: 0.4s;
  background-color: #fff;
}

button fa-icon,
a fa-icon {
  margin-right: 0.2rem;
}

@mixin activeButton {
  color: #fff;
  background-color: #007bff;
}

@mixin inactiveButton {
  border-color: #007bff;
  color: #007bff;
}

.edit-btn {
  @include inactiveButton;

  path {
    @include inactiveButton;
  }

  &:hover {
    @include activeButton;
    path {
      @include activeButton;
    }
  }
}

@mixin activeButton {
  color: #fff;
  background-color: #dc3545;
}

@mixin inactiveButton {
  border-color: #dc3545;
  color: #dc3545;
}

.remove-btn {
  @include inactiveButton;

  path {
    @include inactiveButton;
  }

  &:hover {
    @include activeButton;

    path {
      @include activeButton;
    }
  }
}
